<div class="container mt-4">
    <div class="row" *ngIf="todosList.length !== 0">
      <div class="col-md-6 mb-4" *ngFor="let todo of todosList; let i=index">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-primary">
              {{ todo.title }}
            </h5>
            <p class="card-text text-muted">
              {{todo.description}}
            </p>
            <p class="card-text">
              <small class="text-secondary">Due: {{todo.dueDate}}</small>
            </p>
            <div class="d-flex justify-content-between mt-3">
              <button type="button" class="btn btn-sm btn-warning" (click)="edit(todo)">Edit</button>
              <button type="button" class="btn btn-sm btn-danger" (click)="delete(i)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3 pb-4" *ngIf="todosList.length === 0">
      <app-empty-list></app-empty-list>
    </div>
  </div>

 
  